<main class="main-courts">
    <span #errorMsg class="error-msg popup"></span>
    <header class="header header-courts">
        <section>
            <div (click)="logout()" class="icon logout-icon"></div>
            <div *ngIf="isLogged" class="icon bookings-icon"></div>
        </section>

        <div *ngIf="isLogged" class="icon profile-icon" #profileImg></div>
    </header>
    <article class="article-courts">
        <header>
            <section>
                <div class="icon filter-icon" (click)="showFilter()"></div>
                <nav class="search">
                    <input type="text" class="input-search">
                    <div class="icon search-icon"></div>
                </nav>
            </section>

            <section #filter class="hidden">
                <div>
                    <div class="select">
                        <label for="floor_select">Suelo</label>
                        <select name="floor_select" id="floor_select">
                            <option value="-1" selected>Cualquiera</option>
                            <option *ngFor="let floor of floors" ngDefaultControl [(ngModel)]="floorSelected" [value]="floor.id">{{floor.nombre.charAt(0).toUpperCase() + floor.nombre.slice(1)}}</option>
                        </select>
                    </div>
                    <div class="select">
                        <label for="sport_select">Deporte</label>
                        <select name="sport_select" id="sport_select">
                            <option value="-1" selected>Cualquiera</option>
                            <option *ngFor="let sport of sports" ngDefaultControl [(ngModel)]="sportSelected" [value]="sport.id">{{sport.nombre.charAt(0).toUpperCase() + sport.nombre.slice(1)}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <div class="checkbox">
                        <label for="available">Disponible</label>
                        <input type="checkbox" name="ch" id="available">
                        <label class="real-checkbox" for="available"></label>
                    </div>
                    <div class="time">
                        <label for="">Hora inicio</label>
                        <input type="time" name="" id="">
                    </div>
                    <div class="checkbox">
                        <label for="outdoor">Campo ab.</label>
                        <input type="checkbox" name="ch" id="outdoor">
                        <label class="real-checkbox" for="outdoor"></label>
                    </div>
                    <div class="time">
                        <label for="">Hora fin</label>
                        <input type="time" name="" id="">
                    </div>
                    <div class="checkbox">
                        <label for="light">Iluminación</label>
                        <input type="checkbox" name="ch" id="light">
                        <label class="real-checkbox" for="light"></label>
                    </div>
                    <div class="number">
                        <label for="">Aforo</label>
                        <input type="number" name="" id="">
                    </div>
                </div>
                <div class="range">
                    <label class="label-range" for="">Precio por hora</label>
                    <div>
                        <input class="input-range" [max]="" [min]="" [value]="0" type="range">
                        <span class="price">2€</span>
                    </div>
                </div>
            </section>
        </header>

        <section class="container-courts">
            <div class="court-card">
                <app-courtcard></app-courtcard>
            </div>
        </section>
    </article>
</main>