<article class="article-updatepassword">
    <div routerLink="/" class="arrow-back">Volver</div>

    <span #errorMsg class="error-msg popup"></span>
    <span #successMsg class="success-msg popup"></span>

    <img src="./assets/img/svgForgotPassword.svg">
    <section>
        <h1 class="title">NUEVA CONTRASEÑA</h1>
        <form #updatePasswForm="ngForm" (ngSubmit)="onSubmit(updatePasswForm.value)">
           
            <div class="input-container">
                <input #input required [(ngModel)]="user.password" minlength="6" maxlength="50" name="password" #password="ngModel" (blur)="activeAnimationInput()" id="password" class="input" type="password">
                <label class="label-input" for="password">Contraseña</label>
            </div>
            <span class="error-msg" [hidden]="!password.errors?.['required'] || password.pristine">Este campo es obligatorio</span>
            <span class="error-msg" [hidden]="!password.errors?.['minlength'] && !password.errors?.['maxlength']">Debe tener entre 6 y 50 caractéres</span>

            <input class="btn btn-primary" type="submit" [disabled]="!updatePasswForm.valid" value="ENVIAR">
        </form>
    </section>
</article>