<section class="comment">
    <header class="header-comment">
        <div>
            <img src="" alt="" class="img-user">
            <span class="username">_maacaarenaa</span>
            <div class="icon like-icon"></div>
            <div class="icon info-icon">
                <span class="date">24-04-22</span>
            </div>
        </div>
        <div class="icon delete-court-icon"></div>
    </header>
    <article class="article-comment">
        <p class="text-comment">Pista muy buena, suelo de gran calidad, material muy estético y de calidad</p>
    </article>
</section>