// COLORS
$black: #2B303A;
$blue: #92DCE5;
$soft_gray: #EEE5E9;
$gray: #7C7C7C;
$success_green: #4ECC53;
$error_red: #FF6584;
$bg_error_red: #6c0b1e;
$white: #FEFEFE;

// COLORS HOVER
$blue-hover: #64a4ad;
$error_red-hover: #f93960;

// TYPO
$poppins: 'Poppins', sans-serif;