.container-bookings {
    position: fixed;
    height: 100%;
    background-color: $gray;
    top: 0;
    left: -100%;
    transition: left .3s ease;
    z-index: 2;
    width: 65%;
    padding: 2.5rem 1rem;

    & > .close-icon {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

.container-bookings-active {
    left: 0;
}