.container-bookings {
    position: fixed;
    height: 100%;
    width: 65%;
    background-color: $gray;
    top: 0;
    left: -100%;
    transition: left .3s ease;
    z-index: 4;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    & > .empty_reserve {
        opacity: .7;
        text-align: center;
        font-size: 1.2em;
        font-weight: 400;
    }

    & > .close-icon {
        position: absolute;
        left: 10px;
        top: 20px;
    }

    & > .reserve:hover .bg-show-court-icon, & > .reserve:focus .bg-show-court-icon {
        bottom: -8px;
        right: -8px;
        
        .show-court-icon {
            top: 11px;
            left: 11px;
        }
    }

    & > .reserve {
        margin: .5rem 0;
        padding: .5rem 0;
        position: relative;
        overflow: hidden;

        & > .img-court-reserved {
            position: absolute;
            top: 0;
            z-index: -2;
        }

        & > div:nth-child(1) {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 1rem;

            .name {
                font-size: 1.3em;
                font-weight: 400;
                margin-right: .7rem;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .circle {
                min-width: 10px;
                min-height: 10px;
            }
        }

        & > div:nth-child(2) {
            padding: 0 1rem;
            & > * {
                opacity: .5;
                font-size: .8em;
            }
        }

        & > .bg-show-court-icon {
            bottom: -15px;
            right: -15px;
            width: 50px;
            height: 50px;
            .show-court-icon {
                top: 8px;
                left: 8px;
                background-size: 20px;
            }
        }
    }

    & > .reserve::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, transparent, #5d5d5db0, #464646a5);
        z-index: 0;
    }
}

.container-bookings-active {
    left: 0;
}