.confirm-window {
    position: absolute;
    top: 50%;
    left: 50%;
    height: max-content;
    width: 80%;
    transform: translate(-50%, -50%) scale(1.2);
    background-color: $gray;
    z-index: 5;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .2s ease, transform .2s ease;
    pointer-events: none;

    & > p {
        text-align: start;
        font-size: 1.1em;
        margin-bottom: 1rem;
    }

    & > .buttons {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

.confirm-window-active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);      
    pointer-events: all;
}