.error-msg {
    @include msg;
    background-color: $error_red;
    color: $bg_error_red;
}

.popup {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.3);
    top: 20px;
    opacity: 0;
    text-align: center;
    pointer-events: none;
    transition: transform .2s ease, opacity .2s ease;
}

.popup-transition {
    opacity: 1;
    transform: translateX(-50%) scale(1);
}