.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.logout-icon {
    background-image: url(../../assets/icon/log-out.svg);
}

.bookings-icon {
    background-image: url(../../assets/icon/bookmark.svg);
}

.filter-icon {
    background-image: url(../../assets/icon/filter.svg);
}

.search-icon {
    background-image: url(../../assets/icon/search.svg);
}

.profile-icon {
    border-radius: 50%;
    outline: 2px solid $blue;
    outline-offset: 3px;
}

.option-court-icon {
    background-image: url(../../assets/icon/settingsCourt.svg);  
}

.show-court-icon {
    background-image: url(../../assets/icon/arrow-right.svg);
}

.close-icon {
    background-image: url(../../assets/icon/x.svg);
}