.icon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.logout-icon {
    background-image: url(../../assets/icon/log-out.svg);
}

.bookings-icon {
    background-image: url(../../assets/icon/bookmark.svg);
}

.filter-icon {
    background-image: url(../../assets/icon/filter.svg);
}

.search-icon {
    background-image: url(../../assets/icon/search.svg);
}