@media only screen and (min-width: $max-width) {
    .article-form  {
        padding: 2rem;
        border-radius: 5px;
        -webkit-box-shadow: 0px -80px 42px 5px #5c5c5c84;
        -moz-box-shadow: 0px -80px 42px 5px #5c5c5c84;
        box-shadow: 0px -80px 42px 5px #5c5c5c84;

    }
}

@media only screen and (max-width: $max-width) {
    .article-form  {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}