@media only screen and (min-width: $max-width) {
    .article-list-reserves  {
        padding-top: 1.2rem;
        border-radius: 5px;
        -webkit-box-shadow: 0px -80px 42px 5px #5c5c5c84;
        -moz-box-shadow: 0px -80px 42px 5px #5c5c5c84;
        box-shadow: 0px -80px 42px 5px #5c5c5c84;
    }
}