.article-page-not-found {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        margin-top: 2rem;
    }
    
    img {
        margin: 3rem 0;
    }

    .link {
        position: absolute;
        bottom: 30px;
    }
}