
.header-details-courts {
    & > .profile-icon {
        width: 32px;
        height: 32px;
    }
    
    .arrow-right-icon {
        transform: rotate(180deg);
    }
}

.article-details-court {
    width: 100%;
    overflow-x: hidden;

    .article-header {
        width: 100%;
        height: 60vh;
        min-height: 420px;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            z-index: 0;
            width: 100%;
            height: 100%;
        }

        .basic-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;

            * {
                text-align: start;
            }

            .title {
                font-size: 2.4em;
                z-index: 2;
            }

            .address {
                margin-top: -10px;
                opacity: .5;
            }
        }

        .price {
            position: absolute;
            bottom: 20px;
            left: 1rem;
            font-size: 1.5em;
            z-index: 2;
        }
    }

    .article-header::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        bottom: 0px;
        background-image: linear-gradient(to bottom, transparent, transparent, transparent, #565656b0, #3c3c3cb0, #1d1d1da5);
        z-index: 1;
    }

    .article-main {
        width: 100%;

        .extra-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 1rem;

            .info-1 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                div {
                    display: flex;
                    align-items: center;

                    .circle {
                        margin-right: .6rem;
                    }
                }
            }

            .info-2 {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
            }
        }

        .reserve-info {
            display: flex;
            justify-content: space-around;
            position: relative;
            align-items: center;
            padding: .4rem .5rem;
            background-color: $blue;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 80%;
            margin: .6rem auto;
            
            & > span > .date-reserve {
                font-weight: 400;
            }

            .icon {
                width: 20px;
                height: 20px;
                position: initial;
                margin: 0 .5rem;
                border-radius: 50%;
                padding: 1rem;
                background-color: $white;
            }
        }

        .container-comments {
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .info-comments {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .title {
                    font-size: 1.3em;
                    margin-right: .5rem;
                }

                .likes-info-icon {
                    width: 20px;
                    height: 20px;
                    position: relative;

                    .modal {
                        top: -70px;
                        left: -58px;                    
                    }
                }
                
                .likes-info-icon:hover > .modal {
                    transform: translateY(0px);
                    opacity: 1;
                }
            }

            .parent-comment {
                width: 100%;
            }

            .link {
                margin-top: 1rem;
                cursor: pointer;
            }
        }
    }

    .article-footer {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .complete-input {
            display: grid;
            grid-template-columns: 80% 10% 10%;
            column-gap: 10px;
            align-items: center;
            width: 100%;

            svg {
                width: 20px;
                height: 20px;
                stroke: $success_green;
                transition: stroke .2s ease, transform .2s ease;
                cursor: pointer;
            }

            svg.dislike {
                stroke: $error_red;
                transform: rotate(180deg);
            }

            .arrow-right-icon {
                width: 30px;
                height: 30px;
                margin-left: -15px;
            }
        }
    }
}