

.article-register {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;

        form, div {
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .input-container {
        margin: 1rem 0;
    }
    
    img {
        margin-top: 4rem;
    }
    
    .fg-password-container {
        display: flex;
        margin-top: 10px;
        align-items: flex-end;
        flex-direction: column;
    }
    
    .error-msg {
        align-self: flex-start;
        width: 100%;

    }
    
    .title {
        margin-bottom: 1rem;
    }
    
    .link {
        margin: 1rem 0;
    }
    
    .link-red {
        font-size: .7rem;
        text-align: end;
    }
    
    .btn-primary {
        margin-top: 1.5rem;
        width: 100%;
    }
}

