.article-updatepassword {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        margin-top: 4rem;
    }

    .title {
        margin-top: 2rem;
        font-size: 2.5rem;
    }

    section {
        width: 70%;

        .input-container, .error-msg, .btn {
            width: 100%;
        }

        .input-container {
            margin: 1rem 0;
        }

        .btn {
            margin-top: 1.5rem;
        }
    }
}